body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #FFFFFF;
    color: #333;
    display: flex;
}

/* Layout CSS Start */
.header {
    display:block;
    position: fixed;
    width: 100%;
    padding: 15px;
    background-color: #003366;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
header img {
    width: 75px;
    height: auto;
    vertical-align: middle;
}
.container {
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    height: 100vh;
}


a .img{
    width: 75px;
    height: auto;
    vertical-align: middle;
}
/* Layout CSS End */

/*Sidebar*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 20px;
    background-color: #F0F0F0;
}

.sidebar .nav-link, .logout{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: #000D16;
}


.sidebar .description {
    font-size: 14px;
}

.sidebar .nav-link:hover {
    background-color: #003366;
    color: #ddd;
    text-decoration: none;
}

.logout:hover {
    background-color: #9a0a0a;
    color: #fff;
    text-decoration: none;
}

.logout:hover img {
    transform: rotate(10deg); /* Slight rotation effect on hover */
}

.img-header{ 
    width: 175px;
    height: auto;
}
span img {
    width: 30px;
    height: auto;
}

/*Sidebar END*/

/*Main content*/
.content {
    padding: 10px;
    width: 100%;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
}

/*  Client/Driver/Booking/Truck details*/
.client-details, .driver-details, .booking-details, .truck-details{
    padding: 20px 10px;
    margin-left: 230px;
    background-color: #F0F0F0;
    border-radius: 10px;
    justify-content: space-between;
    position: fixed; 
    top: 80px;
    left: 65%;
}

#client-info, #driver-info, #booking-info, #truck-info {
    width: 300px;
    padding: 5px 10px;
    text-align: left;
    justify-content: space-between;
    margin-bottom: 10px;
}


/* Dashboard CSS Start */
.visualizations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
}

.visualizations .chart {
    background: #F0F0F0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background: #F0F0F0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card .data {
    padding: 12px;
    border-radius: 5px;
    font-size: 32px;
    color: #b8edea;
    background-color: #003366;
}

.map img {
    width: 100%;
    border-radius: 10px;
}
/* Dashboard CSS End */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.profile img {
    width: 80px;
    border-radius: 50%;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

ul .active {
    background: #1abc9c;
}

button {
    background: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.details {
    width: 300px;
    padding: 20px;
    background: #ecf0f1;
}



h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #003366;
    color: white;
    padding: 10px 30px;
}
h2{
    font-size: 24px;
    
}

.user-card {
    width: 300px;
    background: #F0F0F0;
    padding: 30px;
    padding-top: 80px;
    border-radius: 10px;
    text-align: center;
}

.user-card img {
    width: 250px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.user-role {
    font-size: 14px;
    color: #3498db;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    border: none;
    background: #3498db;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #2980b9;
}

.user-container {
    padding: 10px 90px;
    display: grid;
    width: 100%;
    gap: 20px;
}

.user-profile{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-details {
    width: 200%;
    padding: 20px;
    background: #F0F0F0;
    border-radius: 10px;
}


.view-client, .view-driver, .view-booking, .view-truck {
    text-decoration: none;
    color: #e2e2e2;
}

/* RESPONSIVE */
@media screen and (max-width: 992px) {

    .main-content {
        margin-left: 210px;
        padding: 20px;
        min-height: 100vh;
        box-sizing: border-box;
    }

    table {
        width: 80%;
        border-collapse: collapse;
        margin: 15px 0;
    }

    .client-details, .driver-details, .booking-details{
        padding: 20px 10px;
        margin-left: 180px;
        background-color: #F0F0F0;
        border-radius: 10px;
        justify-content: space-between;
        position: fixed; 
        top: 80px;
        left: 65%;
    }
    
    #client-info, #driver-info, #booking-info{
        width: 200px;
        padding: 5px 10px;
        text-align: left;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .content {
        display:  inline;
    }
}

@media screen and (max-width: 768px) {


    .main-content {
        margin-left: 155px;
        padding: 20px;
        min-height: 100vh;
        box-sizing: border-box;
    }

    table {
        width: 70%;
        border-collapse: collapse;
        margin: 20px 0;
    }
}

@media screen and (max-width: 600px) {

    

    .main-content {
        margin-left: 100px;
        padding: 20px;
        min-height: 100vh;
        box-sizing: border-box;
    }

    table {
        width: 60%;
        border-collapse: collapse;
        margin: 20px 0;
    }
}

@media screen and (max-width: 480px) {
    .sidebar {
        width: 60px;
    }

    .sidebar .description {
        display: none;
    }

    .sidebar .nav-link {
        justify-content: center;
    }

    .main-content {
        margin-left: 60px;
    }

    .img-header{ 
        width: 60px;
    }
}