body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #FFFFFF;
    color: #333;
    display: flex;
}

/* Layout CSS Start */
.header {
    display:block;
    position: fixed;
    width: 100%;
    padding: 15px;
    background-color: #003366;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
header img {
    width: 50px;
    height: auto;
    vertical-align: middle;
}
.container {
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    min-height: 630px;
    background-color: #F0F0F0;
    border-right: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 80px;
    left: 20px;
    transition: transform 0.3s ease-in-out;
}

.sidebar .profile{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #000D16;
    padding-bottom: 1px; 
}
.sidebar .profile img {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar .profile h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.sidebar nav a {
    font-size: 14px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000D16;
    background-color: #D9D9D9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.sidebar nav a img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.sidebar nav a.active {
    background-color: #B0B0B0;
    color: #fff;
}

.sidebar .logout {
    padding: 10px 60px;
    border-radius: 5px;
    background-color: #9a0a0a;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: block; 
    margin-top: 20px; 
}

.sidebar .logout img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
/* Layout CSS End */

.content {
    padding: 10px;
    width: calc(100% - 250px);
    display:  flex;
}

.main-content {
    margin-left: 180px;
    padding: 25px;
    min-height: 100vh;
    box-sizing: border-box;
    width: calc(100% - 270px);
}

/*  Client/Driver/Booking/Truck details*/
.client-details, .driver-details, .booking-details, .truck-details{
    padding: 20px 10px;
    margin-left: 230px;
    background-color: #F0F0F0;
    border-radius: 10px;
    justify-content: space-between;
    position: fixed; 
    top: 80px;
    left: 65%;
}

#client-info, #driver-info, #booking-info, #truck-info {
    width: 300px;
    padding: 5px 10px;
    text-align: left;
    justify-content: space-between;
    margin-bottom: 10px;
}


/* Dashboard CSS Start */
.visualizations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
}

.visualizations .chart {
    background: #F0F0F0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background: #F0F0F0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card .data {
    padding: 12px;
    border-radius: 5px;
    font-size: 32px;
    color: #b8edea;
    background-color: #003366;
}

.map img {
    width: 100%;
    border-radius: 10px;
}
/* Dashboard CSS End */


table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #003366;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.profile img {
    width: 80px;
    border-radius: 50%;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

ul .active {
    background: #1abc9c;
}

button {
    background: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

table {
    width: 150%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background: #3498db;
    color: white;
}

.details {
    width: 300px;
    padding: 20px;
    background: #ecf0f1;
}


h1 {
    font-size: 28px;
    margin-bottom: 20px;
}
h2{
    font-size: 24px;
    
}

.user-card {
    width: 300px;
    background: #F0F0F0;
    padding: 30px;
    padding-top: 80px;
    border-radius: 10px;
    text-align: center;
}

.user-card img {
    width: 250px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.user-role {
    font-size: 14px;
    color: #3498db;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    border: none;
    background: #3498db;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #2980b9;
}

.user-container {
    padding: 10px 90px;
    display: grid;
    width: 100%;
    gap: 20px;
}

.user-profile{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-details {
    width: 200%;
    padding: 20px;
    background: #F0F0F0;
    border-radius: 10px;
}

.offcanvas-header {
    
}

.view-client{
    text-decoration: none;
    color: #e2e2e2;
}

/* RESPONSIVE */
@media screen and (max-width: 992px) {
    .sidebar {
        width: 150px;
        min-height: 630px;
        background-color: #F0F0F0;
        border-right: 1px solid #ccc;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 80px;
        left: 20px;
        transition: transform 0.3s ease-in-out;
    }

    .sidebar nav a {
        font-size: 11px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000D16;
        background-color: #D9D9D9;
        margin: 5px 0;
        padding: 8px 15px;
        border-radius: 5px;
    }
    
    .sidebar nav a img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }

    .logout {
        padding: 8px 15px;
        border-radius: 5px;
        background-color: #9a0a0a;
        color: #fff;
        text-align: center;
        text-decoration: none;
        display: block; 
        margin-top: 20px; 
    }

    .sidebar .logout img {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }

    .main-content {
        margin-left: 210px;
        padding: 20px;
        min-height: 100vh;
        box-sizing: border-box;
        width: calc(100% - 270px);
    }

    table {
        width: 80%;
        border-collapse: collapse;
        margin: 15px 0;
    }

    .client-details, .driver-details, .booking-details{
        padding: 20px 10px;
        margin-left: 180px;
        background-color: #F0F0F0;
        border-radius: 10px;
        justify-content: space-between;
        position: fixed; 
        top: 80px;
        left: 65%;
    }
    
    #client-info, #driver-info, #booking-info{
        width: 200px;
        padding: 5px 10px;
        text-align: left;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .content {
        display:  inline;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 125px;
        min-height: 630px;
        background-color: #F0F0F0;
        border-right: 1px solid #ccc;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 80px;
        left: 20px;
        transition: transform 0.3s ease-in-out;
    }

    .logout {
        font-size: 12px;
        padding: 8px 15px;
        border-radius: 5px;
        background-color: #9a0a0a;
        color: #fff;
        text-align: center;
        text-decoration: none;
        display: block; 
        margin-top: 20px; 
    }

    .main-content {
        margin-left: 155px;
        padding: 20px;
        min-height: 100vh;
        box-sizing: border-box;
        width: calc(100% - 270px);
    }

    table {
        width: 70%;
        border-collapse: collapse;
        margin: 20px 0;
    }
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 100px;
        min-height: 630px;
        background-color: #F0F0F0;
        border-right: 1px solid #ccc;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 80px;
        left: 20px;
        transition: transform 0.3s ease-in-out;
    }
    
    .logout {
        font-size: 9px;
        padding: 8px 15px;
        border-radius: 5px;
        background-color: #9a0a0a;
        color: #fff;
        text-align: center;
        text-decoration: none;
        display: block; 
        margin-top: 20px; 
    }

    .sidebar nav a {
        font-size: 9px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000D16;
        background-color: #D9D9D9;
        margin: 5px 0;
        padding: 8px 15px;
        border-radius: 5px;
    }

    .main-content {
        margin-left: 100px;
        padding: 20px;
        min-height: 100vh;
        box-sizing: border-box;
        width: calc(100% - 270px);
    }

    table {
        width: 60%;
        border-collapse: collapse;
        margin: 20px 0;
    }
}